//=============================================
// VARIABLES
//=============================================
$paper:  white;
$ink:    black;

$sidebar-bg: hsl(120, 25, 20);
$sidebar-text: hsla(120, 100, 50, .8);

$game-bg: #282039;

//=============================================
// BASCIS
//=============================================
*,
*::before,
*:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

html,
body {
  background-color: $paper;
  color: $ink;
  font-family: sans-serif;
  line-height: 1.4;
}

.app-container {

}
