//=============================================
// VARIABLES
//=============================================
$paper:  white;
$ink:    black;

$sidebar-bg: hsl(257, 27, 21);
$sidebar-text: hsla(257, 75, 85, .7);

$game-bg: #282039;

//=============================================
// BASCIS
//=============================================
*,
*::before,
*:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

html,
body {
  background-color: $paper;
  color: $ink;
  font-family: sans-serif;
  line-height: 1.4;
}

.app-container {

}

.splash,
.finale {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  opacity: 1;
  transition: all .35s ease-in-out;

  &.closed {
    transform: scale(0);
    opacity: 0;
  }
}

.splash {
  background-image: url("../img/splash-page.svg");
}

.finale {
  background-image: url("../img/finale.svg");
}