//=============================================
// GAME
//=============================================
.game-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 768px;
  right: 0;
  background-image: url('../img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.game-item {

}

.progress-bar {
  position: absolute;
  width: (380px / 1.25);
  height: (130px / 1.25);
  right: 40px;
  bottom: 40px;

  #one,
  #two,
  #three,
  #four {
    opacity: 0;
    transition: opacity .35s ease-in-out;
  }
}

.background-item {

}
