//=============================================
// GAME
//=============================================
.game-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 0;
  background-color: $game-bg;
}

.game-item {

}

.progress-bar {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: pink;
  right: 40px;
  bottom: 40px;

  .progress-1 {

  }

  .progress-2 {

  }

  .progress-3 {

  }

  .progress-4 {

  }

  .progress-5 {

  }

  .progress-6 {

  }
}

.background-item {

}
