//=============================================
// GAME
//=============================================
.game-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 0;
  background-color: hsl(220, 50, 20);
}

.game-item {

}

.progress-bar {


  .progress-1 {

  }

  .progress-2 {

  }

  .progress-3 {

  }

  .progress-4 {

  }

  .progress-5 {

  }
}

.background-item {

}
