//=============================================
// SIDEBAR
//=============================================
.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 75%;
  left: 0;

  background-color: hsl(120, 25, 20);
  color: $green-text;
  font-family: 'Ubuntu Mono', Mono;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 96%;
    background-color: hsla(0, 0, 0, .2);
    z-index: 2;
  }
}

.branding {
  margin-top: .5em;
  padding: .5em 1em;
  letter-spacing: 2px;
}

.shoping-list {

}

.shoping-list-item {
  font-size: 1.6em;
  font-weight: bold;
  padding: .75em 1em;
  letter-spacing: 1px;
  border-bottom: 2px solid $green-text;

  &:first-child {
    border-top: 2px solid $green-text;
  }
}

.shoping-list-item-icon {

}

.shoping-list-item-name {

}
