//=============================================
// STATE
//=============================================
.one-active {
  .shoping-list-item:nth-child(1) {
    background-color: mix($sidebar-bg, $sidebar-text, 70);
    color: opacify($sidebar-text, 1);
  }

  .game-item:nth-child(1) .st0 {
    stroke: rgba(#15F2DB, 1) !important;
    animation: stroke 3000s linear forwards;
  }
}

.two-active {

}

.three-active {
  .shoping-list-item:nth-child(2) {
    background-color: mix($sidebar-bg, $sidebar-text, 70);
    color: opacify($sidebar-text, 1);
  }

  .game-item:nth-child(2) .st0 {
    stroke: rgba(#15F2DB, 1) !important;
    animation: stroke 3000s linear forwards;
  }
}

.four-active {

}

.five-active {
  .shoping-list-item:nth-child(3) {
    background-color: mix($sidebar-bg, $sidebar-text, 70);
    color: opacify($sidebar-text, 1);
  }

  .game-item:nth-child(3) .st0 {
    stroke: rgba(#15F2DB, 1) !important;
    animation: stroke 3000s linear forwards;
  }
}

.six-active {
  .shoping-list-item:nth-child(4) {
    background-color: mix($sidebar-bg, $sidebar-text, 70);
    color: opacify($sidebar-text, 1);
  }

  .game-item:nth-child(4) .st0 {
    stroke: rgba(#15F2DB, 1) !important;
    animation: stroke 3000s linear forwards;
  }
}

.one-crossed {
  .shoping-list-item:nth-child(1)::after {
    width: calc(100% - 20px);
  }

  #one {
    opacity: 1;
  }
}

.two-crossed {

}

.three-crossed {
  .shoping-list-item:nth-child(2)::after {
    width: calc(100% - 20px);
  }

  #two {
    opacity: 1;
  }
}

.four-crossed {

}

.five-crossed {
  .shoping-list-item:nth-child(3)::after {
    width: calc(100% - 20px);
  }

  #three {
    opacity: 1;
  }
}

.six-crossed {
  .shoping-list-item:nth-child(4)::after {
    width: calc(100% - 20px);
  }

  #four {
    opacity: 1;
  }
}


